# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Variables sensibles
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Datos temporales
*.tmp

# archivos intermedios
agent.py
app.py


__pycache__/
*.pyc